<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technokratos.users">

    <application>
        <activity
            android:name="com.technokratos.users.presentation.list.UsersFragment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.technokratos.users.presentation.details.UserFragment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>